
*{
    margin: 0;
}
img{
    width: 100px;
    height: 100px;
}
.Heading{
    display: flex;
    justify-content: center;
    place-items: center;
    gap: 50px;
    background-color: #1447;
}
h1 a{
text-decoration: none;
color: rgb(128, 0, 79);
}
.sliding{
display: flex;
text-decoration-color: red;
justify-content: center;
place-items: center;
background-color: rgb(112, 216, 199);
}
marquee{
    gap: 50px;
    font-size: 30px;
}
.table ul{

    list-style-type: none;
    background-color: pink;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.table li a{
    display:block;
    text-align: center;
    text-decoration: none;
    padding: 15px 18px;
    border: 1px solid #319e35;
}
.table-list li a:hover{
    background-color: rgb(70, 136, 175);
    color: yellowgreen;
}
.table-list li a:visited{
    color: #5713b5;
}


.search{
    float: right;
    display: flex;
color: chocolate;
position: relative;
right: 155px;

  }
   .table-list li a{
        float: left;
    }

  
          
   


    /* Loing page */

  
.body-login{
	background-image: url("https://i.postimg.cc/dVJJVgVv/desktop-wallpaper-food-fruit-vegetables-template-greeting-thumbnail.jpg");
	background-repeat: no-repeat;
	background-size:100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	
}
.login-main{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);

}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #e71c1c;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6d44b8;
}
.login1{
	height: 460px;
	background-image: url("https://i.postimg.cc/GtjS7gwJ/desktop-wallpaper-fresh-fruits-and-vegetable-fresh-veggies-thumbnail.jpg");
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login1 label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .login1{
	transform: translateY(-500px);
}
#chk:checked ~ .login1 label{
	transform: scale(1);	
}
#chk:checked ~ .signup1 label{
	transform: scale(.6);
}

/* login page end */
    
.imagecontainer{
    width: 100%;


}
.swiper{
    width: 1350px;
    height: 300px;
  }


  .swiper-slide img{
    width: 1350px;
    height: 300px;
  }
 
    
   .honey{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
   } 
   .vg{
    width: 200px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 10px;
    font-size: 15px;
   }
   .vg img{
    width: 100%;
    height: 30vh;
   }

    
  .honey img:hover{
    transform:scale(1.1);
    }




footer {
    background-color: #f0f0f0;
    text-align: center;
}

.bottomlist{
    position: relative;
    display: flex;
    border: 30px solid ;
    background-color: rgb(9, 3, 3);   
}
.bottomlist li a{
    position: relative;
    left: 300px;  
    color: white;
    padding-inline: 15px;
    text-decoration: none;
}

.search-box.active input{
    opacity:1;
  }
  
  .search-box input{
    height:100%;
    width:100%;
    border:none;
    background:#fff;
    font-size:18px;
    border-radius: 50px;
    padding: 0 60px 0 20px;
    outline:none;
    opacity:0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
  } 

  .socialmedia 
{
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px 10px;
    border-radius: 30px;
    height: 50px ;
    width: 20px;
    padding-left: 970px;

  

}

.social{
    background-color: rgb(17, 17, 17);
}
.socialmedia a{
     width: 5px;
     height: 1px;
     font-family: audiowide;
     font-size: 1px;  
 }

 .socialmedia a img{
 width: 20px;
 height: 20px;
 padding-left: 20px;
 padding-top: 5px;

 }

 .setting a img:hover , .ins a img:hover , .whats a img:hover , .tit a img:hover , .fb a img:hover{
    background-color: #a41d1d;
    color: rgb(240, 238, 238);
    padding: 5px;
    
 }

 @media screen and(max-height: 500px){

    li a{
        font-size: 10px;
    }
 }


 
 
 .slide-img{
   display:inline-block;
   margin-top:10px;
   transition: all 0.8s;
   position: relative;
   left: 10px;
 }
 
 
 
 .slide-img:hover figcaption{
    opacity : 1;
    transition: opacity 0.8s;  
 }
 
 figure{
   font-family:'Ubuntu';
   font-size:25px;
   color:#282828;
   margin:0;
   margin-bottom:30px;
 }
 
 figure img{
   border: 1px solid grey;
   width: 200px;
   height: 200px;
   box-shadow: 0px 0px 20px 0px black;
 }
 
 .slide-img:hover{
 transform:scale(1.2);
 }
 figcaption{
   opacity: 0;
   text-align:center;
 }
 
 span{
   font-style:italic;
   font-size:15px;
 }
 span:before{
 content:' - ';
 }
 
 a{
   text-decoration:none;
   color:#52618d;
 }
 

.footer{
    border: 200px;
}





 







