
body{
    width: 100%;
    height: 100vh;
    align-items: center;
    background-image:
    url(https://i.postimg.cc/8CdhtMr9/fruits-shop1.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-items: center;
    
}
.login{    
    float: right;
    background: #d934c6;
    background-image: -webkit-linear-gradient(top, #d934c6, #2980b9);
    background-image: -moz-linear-gradient(top, #d934c6, #2980b9);
    background-image: -ms-linear-gradient(top, #9ad934, #2980b9);
    background-image: -o-linear-gradient(top, #d934c6, #2980b9);
    background-image: linear-gradient(to bottom, #d934c6, #2980b9);
    -webkit-border-radius: 2 ;
    -moz-border-radius: 2;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px #666666;
    -moz-box-shadow: 0px 0px 10px #666666;
    box-shadow: 0px 0px 10px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 30px 10px;
    text-decoration: none;
    margin-left: 600px;

}