.imgcontainer{
    width: 100%;
    

}
.swiper{
    width: 600px;
    height: 300px;
  }
.swiper-wrapper {
    display: flex;
    position: relative;
  
  }

  .swiper-slide img{
    width: 600px;
    height: 400px;
  }