img{
    width: 100px;
    height: 100px;
}
.Heading{
    display: flex;
    justify-content: center;
    place-items: center;
    gap: 50px;
    background-color: #1447;
}
h1 a{
text-decoration: none;
color: green;
}
.sliding{
display: flex;
text-decoration-color: red;
justify-content: center;
place-items: center;
background-color: rgb(112, 216, 199);
}
marquee{
    gap: 50px;
    font-size: 30px;
}
ul{

    list-style-type: none;
    background-color: pink;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a{
    display:block;
    text-align: center;
    text-decoration: none;
    padding: 15px 18px;
    border: 1px solid #319e35;
}
li a:hover{
    background-color: rgb(70, 136, 175);
    color: yellowgreen;}


    li a{
        float: left;
    }
    .login{
        float: right;
        display: flex;
    }
    
    



footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}