@{
    ViewData["Title"] = "Login";
}

<section class="w3l-form-36">
		<div class="form-36-mian section-gap">
			<div class="wrapper">
				<div class="form-inner-cont">
					<h3>Login now</h3>
					<form action="VerifyLogin" method="Post" class="signin-form">
						<div class="form-input">
							<span class="fa fa-envelope-o" aria-hidden="true"></span> 
							<input type="text" name="username" placeholder="Username" required/>								
						</div>
						<div class="form-input">
							<span class="fa fa-key" aria-hidden="true"></span> 
							<input type="password" name="password" placeholder="Password"
								required />
						</div>
						<div class="login-remember d-grid">
							<label class="check-remaind">
								<input type="checkbox">
								<span class="checkmark"></span>
								<p class="remember">Remember me</p>
							</label>
							<button class="btn theme-button">Login</button>
						</div>
						<div class="new-signup">
							<a href="#reload" class="signuplink">Forgot password?</a>
						</div>
					</form>
					<div class="social-icons">
						<p class="continue"><span>Or</span></p>
						<div class="social-login">
							<a href="#facebook">
								<div class="facebook">
									<span class="fa fa-facebook" aria-hidden="true"></span>

								</div>
							</a>
							<a href="#google">
								<div class="google">
									<span class="fa fa-google-plus" aria-hidden="true"></span>
								</div>
							</a>
						</div>
					</div>
					<p class="signup">Don’t have an account? <a href="#signup.html" class="signuplink">Sign up</a></p>
				</div>

				<!-- copyright -->
				<div class="copy-right">
					<p>© 2020 Active Login Form. All rights reserved | Design by <a href="http://w3layouts.com/"
							target="_blank">W3Layouts</a></p>
				</div>
				<!-- //copyright -->
			</div>
		</div>
	</section>