@{
    ViewData["Title"] = "Contactus Page";
}

  <!-- Contact Section -->
  <section id="contact" class="jumbotron jumbotron-fluid text-center mt-5">
    <div class="container">
      <h2>Contact Us</h2>
      <p class="lead">Have questions or feedback? Reach out to us!</p>
      <a href="#" class="btn btn-primary btn-lg">Contact</a>
    </div>
  </section>

  

  <!-- Bootstrap JS and dependencies (jQuery, Popper.js) -->


