@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The New World</h1>  
 <h1>
    <div class="col-sm-5"> 
      <img src="https://i.postimg.cc/NFQzwKp8/untitled-Nofiction-PP.jpg" alt="" class="img-box" /> 
    </div>
    <div class="col-sm-3"><br><br> 
    <a href="" class="typewrite" data-period="1000" data-type='[ "Hey, Im Shawn Mendes", "I am a Web Developer.", "I Love to design websites."]'> 
      <span class="wrap"></span> </a> 
      </div>
</h1>              
                          
                      
                  
               
            
        
     
